{% extends 'JaiUneIdeeSiteBundle::layout_2_col.html.twig' %}

{% block title %}Contact{% endblock%}
{% block mainCol %}
    <header>
        <h1>Ecrire un message</h1>
    </header>
	<form action="{{ path('message_create') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <p>
	        <button type="submit">Create</button>
	    </p>
	</form>

	<ul class="record_actions">
	    <li>
	        <a href="{{ path('message') }}">
	            Back to the list
	        </a>
	    </li>
	</ul>
{% endblock %}
