{% block title %}Ajouter un commentaire{% endblock%}

{% block body %}
    <h1>Ajouter un commentaire"</h1>
    {% include 'JaiUneIdeeSiteBundle:Idee:form_comment.html.twig' with { 'form': form } %}
{% endblock %}