*{margin:0;padding:0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0
}
html{
    min-height:100%;
    height:100%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
ol,ul{
    list-style:none
}

blockquote,q{
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
    content:none
}

table{
    border-collapse:collapse;
    border-spacing:0
}

body{
    line-height:1;
    font-family:Calibri,Arial,Helvetica,sans-serif;
    font-size:12px;
    width:100%;
    height:100%;
    font-size:14px;
}
h1{
    font-size:18px;
    font-weight:bold;
    text-align:center;
}
h2{
    font-size:14px;
    font-weight:bold;
}
h3{
    font-size:14px;
    font-style:italic;
}
li{
/*    margin-left:20px;
    margin-bottom:3px;*/
}
#wrapper{
    min-height:100%;
}
article{
    text-align:justify;
}

.clear{
    clear:both;ne
}
.accessibilite{
    visibility:hidden;
    position:absolute;
}
a{
    text-decoration:none;
    color:inherit;
}
a:hover{
    text-decoration:inherit;
    color:inherit;
}
a.lien_visible{
    text-decoration:underline;
}
ol.decimal{
    list-style:decimaloutsidenone;
}
button,
input,
select,
textarea{
    vertical-align:inherit;
    font-size:inherit;
    font-family:inherit;
    line-height:inherit;
    padding:2px;
}
button,
input[type="button"],
input[type="submit"],
select{
    cursor:pointer;
}
/**********************ELEMENT COMMUN******************************************/
.separation {
    height:5px;
}
.gradient2 {
    /* Legacy browsers */
    background: #83BEF5 url("/images/gradient2-bg.png") repeat-y right;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    /* Internet Explorer */
    *background: #83BEF5;
    background: #83BEF5\0/;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#FF83BEF5, endColorstr=#FF538ED5);
}
@media all and (min-width: 0px) {
    .gradient2 {
        /* Opera */
        background: #83BEF5 url("/images/gradient2-bg.svg");
        /* Recent browsers */
        background-image: -webkit-gradient(
            linear,
            left bottom, right top,
            from(#83BEF5),
            to(#538ED5)
            );
        background-image: -webkit-linear-gradient(
            left bottom,
            #83BEF5,
            #538ED5
            );
        background-image: -moz-linear-gradient(
            left bottom,
            #83BEF5,
            #538ED5
            );
        background-image: -o-linear-gradient(
            left bottom,
            #83BEF5,
            #538ED5
            );
        background-image: linear-gradient(
            left bottom,
            #83BEF5,
            #538ED5
            );
    }
}
.avatar{
    max-width:80px;
    max-height:80px;
    margin:auto;
    display:block;
}
.dejaLu{
    color: grey;
}
.box{
    box-shadow : 2px 2px 3px 1px #538ED5;
    padding: 5px;
    margin-top:10px;
}
.box header{
    padding:3px 10px;
    font-size:1.2em;
    font-weight:bold;
    margin: -5px -5px 0 -5px;
}
.box_left{
    display:inline-block;
    width:18%;
    min-width: 100px;
    text-align:center;
    vertical-align: top;
    margin-top:10px;
    margin-bottom:10px;
    border-right: 1px solid  #538ED5;
}
.box_content{
    display:inline-block;
    width: 75%;
    padding:10px;
    word-wrap: break-word;
}
.form label{
	display: block;
        margin-top:10px;
        margin-bottom:3px;
	letter-spacing: 1px;
}
.form input[type="checkbox"],
.form label.label_checkbox,
.form label.checkbox_meme_ligne{
    display: inline;
    margin-right:30px;
}

.form  label:hover
{
}

.form .form_label_nostyle
{
	background: none;
}

/* Input */
.form input:not([type]),
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form textarea
{
	margin-left: 1%;
	width: 58%;
	border: #CCC 1px solid;
        display: block;
}
.form input[type="button"],
.form input[type="submit"],
.form button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px 20px;
}
.form textarea{
    height:250px;
}
.form input:hover, 
.form textarea:hover, 
/*.form select:hover, 
.form select:focus,*/
.form input:focus, 
.form ul.token-input-list-facebook:hover
{
	border: #999 1px solid;
	background-color: #DDEEFF;
}

.form .form_input_day_month
{
	width: 3%;
}

.form .form_input_year
{
	width: 6%;
}

.form .token-input-list-facebook input{
	border: none;
        background-color:inherit;
}
.form .token-input-list-facebook input:hover{
	border: none;
        background-color:inherit;
}
/*********************HEADERS**************************************************/
#header {
    box-shadow : 0 1px 5px 0 #538ED5;
    margin-bottom:5px;
    background:darkgrey;
    color: white;
}
#header hgroup{
    height:130px;
}

#header h2 {
    text-align: center;
    /*font-family: 'La Belle Aurore', cursive;*/
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
}
#login{
    float: right;
    padding:5px;
    width: 200px;
    height: 115px;
}
#login label,
#login form input:not([type]),
#login form input[type="text"],
#login form input[type="password"]{
  display: block;
  width: inherit;
  height: inherit;
  padding: inherit;
  margin-bottom: 0;
  font-family: inherit;
  color: black;
}
#login label{
	color: #F0F0F0;
}
#login form input[type="checkbox"]{
  display:inline-block;
}
#login .label_checkbox{
	display:inline-block;
}
#header .avatar{
    background: none repeat scroll 0 0 #F0F0F0;
    box-shadow: 0 0 6px 3px #F0F0F0;
    float: right;
    max-height: 90%;
}
.beta{
    font-size: 22px;
}
#header .logo{
    display: block;
    margin: auto;
}
/********************************* FOOTER *************************************/
#footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    text-align: center;
    padding: 10px 0 0 0;
    color: #F0F0F0;
    background-color: darkgrey;
    width:100%;
    font-size:15px;
    font-weight:bold;
    /*box-shadow : 0pt 0pt 7px 0pt rgba(0, 0, 0, 0.7) inset;*/
}
#footer .separation{
    margin-bottom: 10px;
    margin-top: -10px;
}
/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
        <style type="text/css">
                #wrap {display:table;height:100%}
        </style>
<![endif]-->

*/
#footer span{
    font-style: italic;
}
#footer .fb_iframe_widget{
    margin-top:-6px;
    vertical-align:top;
}
#footer #___plus_0{
    vertical-align:top;
}
#footer .citation{
    margin-bottom:10px;
}
#body{
    padding-bottom:131px;
    background-color: #FBFBFB;
}
/********************************* COLONNES************************************/
.one-col-80,
.one-col {
    padding: 5px 20px;
    vertical-align:top;
    /*min-height: 500px;*/
}
.one-col-80{
    margin:auto;
    width:80%;
}
.main-col {
    width: 65%;
    display: inline-block;
    padding: 0 20px;
    vertical-align:top;
    /*min-height: 600px;*/
    border-right: 1px solid #538ED5;
}
.second-col {
    width: 25%;
    display: inline-block;
    margin-bottom: 20px;
    /*min-height: 500px;*/
    padding-left:20px;
}

.second-col h1{

}
.second-col h2{

}
.second-col h3{
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px
}
.second-col h4{
    font-size: 14px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 5px
}
.second-col hr{
    border: 1px solid #538ED5;
    color: #538ED5;
    height: 0;
}
/***************************** PAGINATION *************************************/
.pagerfanta {
    margin: 5px;
    text-align: center;
}
.pagerfanta a,
.pagerfanta span {
    display: inline-block;
    border: 1px solid #538ED5;
    color: black;
    margin-right: .2em;
    padding: .25em .35em;
}
.pagerfanta a {
    text-decoration: none;
}
.pagerfanta .dots {
    border-width: 0;
}
.pagerfanta .current {
    /*background: grey;*/
    font-weight: bold;
}
.pagerfanta .disabled {
    border: 1px solid #538ED5;
    color: grey;
}
.pagerfanta a:hover {
    background: #60A4F6;
    box-shadow : 0 1px 5px 0 #538ED5;
}
/************************* INDEX **********************************************/
#toutes_les_idees{
    clear:right;
    float:right;
    min-width: 400px;
    width:100%;
    margin-right:0px;
    margin-left:auto;
}
#cadre_ccm1,
#cadre_ccm2{
    height: 748px;
    width: 195px;
}
#cadre_ccm1 img,
#cadre_ccm2 img{
    height: 100%;
    width: 100%;
}
#cadre_ccm1 img{
    display: none;
}
#cadre_ccm1 {
    position:absolute;
    width: 10px;
    margin-top: 135px;
    margin-left: -20px;
    background: #FBFBFB;
}
#cadre_ccm2{
    display:none;
}
#ccm{
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 210px;
    width: 40px;
    cursor: pointer;
}
#ccm img{
    width:100%;
}
@media screen and (min-width: 1400px) {
    #cadre_ccm2 {
        display: block;
        position:relative;
        float: right;
        margin-top: 10px;
        margin-right: 20px;
    }
    #cadre_ccm1{
        display:none
    }
    #toutes_les_idees {
        max-width: 780px;
        width:70%
    }
    #ccm{
        display: none;
    }
}

#index_ajout_idee{
    float:right;
    margin-right: 2%;
    margin-top: 10px;
}
#index_ajout_idee img{
    width: 90px;
    vertical-align:middle;
}
#cadre_filtre{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #538ED5;
    padding: 5px 10px 10px 10px;
    line-height: 20px;
}
img.fnone{
    width:20px;
}
select.theme{
    width:200px;
}
.index_idee{
    margin: 10px;
    background-color: white;
}
.index_idee:hover{
    background: #60A4F6;
    color: #F0F0F0;
}
.index_idee h3{
    font-weight: bold;
}
.index_idee a{
    height:100%;
    display:block;
    width:100%;
}
.index_idee div{
    display:block;
}
.index_idee_theme{
    text-align: center;
    width: 80px;
    float:left;
}
.index_idee_theme img{
    max-height:36px;
}
.index_idee_body{
    margin-left: 40px;
    margin-right: 25px;
    padding:3px 10px 5px 10px;
}
.index_idee_commentaire{
    float: right;
    padding:3px 5px 5px 10px;
    text-align: right;
}
#news{
    padding-top: 20px;
    min-height:500px;
     width:80%
}
#news h1{
    margin-bottom:20px;
}
#news p{
    margin-bottom:10px;
    margin-top:5px;
}
/************************** CHARTE ********************************************/
.charte{
	text-align:justify;
}
.charte h2{
  margin-top:10px;
}
.charte h3{
  margin-top:5px;
}
/************************** CCM ***********************************************/
.ccm {
	display:block;
	margin: 20px auto;
	max-width: 100%;
	box-shadow: 0px 0px 10px 0 #538ED5;
}
/************************** IDEE **********************************************/
.toModerate{
	background-color: #E4BCBC;
}
.gris{
 /*   -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
*/
    -o-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
.idee_body{
    margin: 10px 20px 20px 20px;
}
.box_left .action{
    max-width:30px;
}
.vote_graph{
    width:80%;
    height:25px;
    background-color:white;
    overflow: hidden;
    color: black;
    font-weight: bold;
}
.bar{
    display:inline-block;
    height:25px;
    float:left;
    text-align:center;
    line-height: 25px;
}
.pour{
    background-color: lightgreen;
}
.blanc{
    background-color: orange;
}
.contre{
    background-color: red;
}
.idee_vote{
  width:40px;
  display: inline-block;
}
.vote_max{
	font-weight:bold;
}
.idee_commentaires_liste{
    margin-left:10%;
    margin-right:5%;
}
.idee_commentaires_liste .box{
    margin-top: 20px;
}
/*******************************PROFILE INVITATION ***************************************/
.table{
  border: 1px solid #83BEF5;
  width:70%;
}
.table tr {
  border: 1px solid #83BEF5;
}
.table td,
.table th{
  border: 1px solid #83BEF5;
  padding:3px;
}

/*************************** A SUPRIMER ***************************************/
.color1,
.color2,
.color3
{
	color: red;
}