{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<a href="{{ path('fos_user_profile_edit') }}">{{ 'fos_user_profile_edit'|trans({}, 'FOSUserBundle') }}</a>
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
