{# src/JaiUneIdee/SiteBundle/Resources/views/Page/about.html.twig #}
{% extends 'JaiUneIdeeSiteBundle::layout_1_col.html.twig' %}

{% block title %}Charte du site{% endblock%}

{% block mainCol %}
<div class="charte">
    <header>
        <h1>Charte du site J'ai Une Idée</h1>
    </header>
    <article>
<h2>Préambule</h2>
<p>
Le site « J’ai une idée » permet de partager ses idées et d'en débattre. Il contient des forums d'expression francophone pouvant porter sur des questions de politique ou de société en général. Il a pour but de permettre aux intervenants de discuter de tous les sujets liés à une idée déposée sur le site.
</p>
<p>
Ce site et les forums qui lui appartiennent, restent un lieu d'échanges et de convivialité, et les débats se doivent d'être sereins.
</p>
<p>
Nous rappelons que le contenu des forums représente l'opinion des intervenants et non celle des administrateurs ou des modérateurs du site. 
</p>
<p>
Le site prévoit une modération à posteriori, c'est-à-dire que son usage en violation du présent règlement et/ou de la loi ne peut faire l'objet d'une modération que suite à un signalement aux administrateurs ou aux modérateurs, ou suite à une identification spontanée par ces derniers (sans examen préalable). Les intervenants ne peuvent en aucun cas espérer se décharger sur les administrateurs ou les modérateurs de leur responsabilité personnelle découlant d'un usage illicite du site. Ce site n'a pas vocation à conférer une quelconque immunité aux auteurs d'actes illicites et il entend pleinement collaborer avec les autorités compétentes en cas de plainte ou dénonciation. 
</p>
<p>
Les règles contenues dans le présent document n'ont nullement été établies pour entraver votre liberté d'expression mais sont le gage du bon fonctionnement du site, de sa pérennité, et du confort d'utilisation de ses intervenants dans le respect des lois. 
</p>
<br /><br />
En conséquence, les dispositions suivantes sont arrêtées:

<h2>Titre I: Organisation et Procédure</h2>

<h3>Article 1 - Administration et groupe de modération</h3>

<li>
1 L'administration gère les aspects techniques du forum et dirige un groupe de modération pour faire respecter le présent règlement.
</li>
<li>
2 Le groupe de modération est constitué des administrateurs et de modérateurs, la nomination et révocation de ces derniers relevant du pouvoir discrétionnaire de l’administration.
</li>
<h3>Article 2 - Procédure de modération </h3>
<li>
1 Afin de faire respecter le règlement, le groupe de modération prend toutes les mesures et prononce toutes les sanctions appropriées, notamment l’édition ou la suppression de messages, le déplacement ou le verrouillage de fils de discussion, le prononcé d’avertissements ou de bannissements à l’encontre d’intervenants.
</li>
<li>
1bis Le motif d'une telle mesure ou sanction est fondé sur le règlement. L'intervenant concerné par une telle mesure ou sanction consent à la publication du motif. Toutefois, l'intervenant peut s'opposer à une telle publication dans un délai raisonnable après qu'il ait pu en prendre connaissance. Dans ce cas, la publication du motif est retirée par l'administration qui peut alors mettre fin aux rapports qui la lient à cet intervenant, conformément à l'article 14.
</li>
<li>
2 Les intervenants sont invités à attirer l'attention du groupe de modération sur les violations vraisemblables du règlement à l'aide du bouton rouge ou, si les circonstances le justifient, par message privé adressé à l'équipe de modération. Les intervenants s’abstiennent de harceler le groupe de modération par messages privés.
</li>
<li>
3 Les intervenants s’abstiennent d’appeler publiquement à un acte de modération ou à sanctionner un autre intervenant ou de discuter publiquement un acte de modération ou la prononciation d’une sanction. Ils s’abstiennent de dénigrer publiquement un administrateur ou un modérateur en raison de l’exercice de sa fonction. Tout abus vraisemblable de modération peut être signalé par message privé à l'un des administrateurs.
</li>
<li>
4. Le bannissement définitif d’un compte payant est possible. Si ce cas devait arriver, le site remboursera le titulaire du compte :
Soit au prorata du temps restant à utiliser,
Soit au prorata du nombre de messages restant à poster.
Si un choix de mode de calcul doit être fait, il le sera toujours à l’avantage du site « J’ai une idée ».
</li>
<h2>Titre II: Responsabilité et usage prohibé du site, en général</h2>

<h3>Article 3 - Responsabilité, usage prohibé, respect entre intervenants</h3>
<li>
1 Les participants sont personnellement responsables devant la loi de l'usage qu'ils font du site. Des poursuites peuvent être intentées directement contre un intervenant en cas de comportement illégal. Les adresses IP sont enregistrées et pourront, le cas échéant, être communiquées, notamment avec les éventuels messages illégaux, aux autorités compétentes.
</li>
<li>
2 Sont prohibés :  la communication ou la diffusion dans le cadre d'un message public ou privé, pseudonyme, avatar, signature, profil, site Internet indiqué par son lien, ou de toute publication par un intervenant sur le forum, des contenus suivants:
Racisme et autres formes de discrimination
<ul>
<li>
1. Les contenus abaissant,discriminant,dénigrant ou visant à inciter à la discrimination, à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes, à raison de leur origine, de leur appartenance ou de leur non-appartenance à une ethnie, une nation, une race ou une religion déterminée, de leur sexe, de leur orientation sexuelle ou de leur handicap ;
</li>
Négationnisme
<li>
2. Les contenus niant, minimisant grossièrement ou cherchant à justifier un génocide ou un autre crime contre l’humanité, ainsi que ceux faisant l'apologie de personnes responsables d’un génocide ou d’un autre crime contre l’humanité ;*
</li>
Terrorisme
<li>
3. Les contenus visant à faire l'apologie d'actes terroristes ou de leurs auteurs ;
</li>
Bonnes mœurs
<li>
4. Les contenus illustrant avec insistance des actes de cruauté envers des êtres humains ou des animaux, sans présenter aucune valeur d’ordre culturel ou scientifique significative, ainsi que les contenus obscènes, vulgaires, grossiers, pornographiques, ou érotiques dépassant les limites de la simple suggestion ;
</li>
<li>
Incitation au suicide, à la commission de crimes ou délits
5. Les contenus visant à inciter au suicide ou à la commission d'un crime ou d'un délit, en particulier impliquant la violence contre autrui ou contre des biens ;
</li>
Attaques personnelles
<li>
6. Les menaces, harcèlements, calomnies, diffamations ou injures contre une ou plusieurs personnes déterminées ou reconnaissables ou intervenants ; 
</li>
Respect des lois
<li>
7. Les contenus violant d'une autre façon une loi française.**
</li>
</ul>
</li>
<li>
3 Les intervenants s’abstiennent d'adopter un comportement agressif ou provocateur envers un ou plusieurs intervenant(s), de leur manquer de respect d'une autre façon ou de faire référence de façon ordurière à leurs idées.

* définitions : 
<br />Les définitions retenues des mots génocide, crime contre l'humanité et négationnisme sont celles de la loi française.
<br />
**lois:
<br />
Journal Officiel de la République Française : <a target="_blank" href="http://admi.net/jo">http://admi.net/jo</a> <br />
Legifrance : <a target="_blank" href="http://www.legifrance.gouv.fr">http://www.legifrance.gouv.fr</a> <br />
Portail de l'union européenne : <a target="_blank" href="http://europa.eu.int/eur-lex/en/index.html">http://europa.eu.int/eur-lex/en/index.html</a> <br />
CNIL : <a target="_blank" href="http://www.cnil.fr">http://www.cnil.fr</a><br />
</li>
<h2>Titre III: Messages et fils de discussion</h2>

<h3>Article 4 - Messages</h3>
<li>
1 Dans la mesure du possible, les messages doivent s’inscrire dans une discussion, être clairs, concis, respecter les règles de la langue française et apporter une contribution à la discussion (non redondants). Les messages trollesques, hors sujet, ou visant la déviation stérile et/ou provocatrice d'un sujet, pourront être supprimés dans leur intégralité.
Il est indispensable de formuler ses propos en français correct de manière à vous faire comprendre du plus grand nombre. Un commentaire « écrit en SMS » a de grandes chances d'être mal accueillis et d'être effacés. De même, l’usage des majuscules est à proscrire. Sur Internet, les majuscules servent à « hurler ». Ce n’est ni facile à lire, ni agréable.
</li>
<li>
2 Un usage modéré des effets de texte et smilies dans le but de permettre de faire ressortir certaines informations particulières est permis. L'usage des lettres minuscules dans la rédaction des messages et des titres des messages est recommandé. 
</li>
<li>
3 Une citation, de source interne ou externe au site, peut être intégrée dans un message à titre d'illustration, de commentaire, de référence ou de démonstration, pour autant que l'intégrité de la source citée soit préservée, indiquée ou manifeste, et que les conditions suivantes soient respectées:
<ul>
<li>1. Les contributions publiques des autres intervenants sur le forum peuvent être partiellement ou intégralement copiées sans restriction supplémentaire, chaque intervenant consentant à être cité sur le forum.</li>
<li>2. Les très courtes citations non substantielles d’œuvres externes protégées par le droit d'auteur peuvent être copiées sans restriction supplémentaire.</li>
<li>3. Les publications officielles émanant des autorités peuvent être partiellement ou intégralement copiées, avec une indication quant à leur caractère officiel.</li>
<li>4. Les œuvres externes dont le droit d'auteur s'est éteint (auteur décédé depuis plus de 70 ans) peuvent être partiellement ou intégralement copiées, avec la mention de l'année de décès de l'auteur lorsque celui-ci n'a pas acquis une grande notoriété.</li>
<li>5. Les œuvres externes protégées par droit d'auteur dont l'ayant droit autorise expressément la copie, en particulier les œuvres soumises à une licence de documentation libre GNU (GFDL)* ou à une licence de documentation Creative Common (CC)**, peuvent être partiellement ou intégralement copiées dans les limites de cette autorisation ou licence, avec la mention de l'autorisation ou licence permettant la copie.</li>
<li>6. Les autres copies, intégrales ou substantielles, d’œuvres ou parties d’œuvres externes protégées par droit d'auteur ne sont pas tolérées, y compris les articles de presse et dépêches.</li>
</ul>
</li>
<li>
4. Référencement : Toutes les contributions publiées sur ce forum sont susceptibles d’être référencées sur un moteur de recherche et donc d’être consultées par un public extérieur à celui de ce site.
</li>
<li>
5. Ce site détient et conserve toutes données de nature à permettre l’identification des auteurs des messages et procède à l’archivage privé des messages postés. Ces informations ne pourront être communiquées qu’à une autorité judiciaire qui en formulerait la demande.
Le contenu des messages pourra également être communiqué, de manière exceptionnelle et après anonymisation, à un organisme tiers.

Des statistiques pourront être réalisées à partir des données appartenant au site « J’ai une idée ». Dans tous les cas, ces statistiques seront parfaitement anonymes.

En cas de suppression de compte, à la demande de l’utilisateur ou suite à un bannissement, toutes les données personnelles seront retirées du site. Les messages et les votes seront conservés et attribués à un utilisateur « fantôme ». 
</li>
<li>
6. Pas de conversation privée sur les forums, et pas d'échanges de coordonnées privées. Le mail ou les messages privés sont faits pour ça. Tout message privé envoyé à un modérateur en raison de sa fonction est susceptible d'être communiqué à l'ensemble de la modération afin d'y définir la réponse la mieux adaptée. 
</li>
<li>
7. Les publicités commerciales sont interdites. Les coordonnées (professionnelles ou personnelles) doivent s'échanger en privé.
Les messages entrant dans la catégorie "petites annonces" ne sont pas acceptés. Il en est de même pour les messages appelant à signer une pétition ou demandant de répondre à un questionnaire.
</li>
<li>
8. Dans un premier temps, afin de faciliter la modération tout en évitant les risques de dérives, les messages des thèmes pouvant porter à polémique seront modérés a priori. Lorsque que le site « J’ai une idée » aura acquis une taille suffisante, l’ensemble des thèmes seront modérés a posteriori.

<br />
*Licence GFDL: <a target="_blank" href="http://www.gnu.org/licenses/fdl-1.2.html">http://www.gnu.org/licenses/fdl-1.2.htmls</a>
</li>
<h3>Article 5 – Les idées</h3>
<li>
1 La publication d’une idée doit respecter les règles du site.
</li>
<li>
2. Afin de faciliter la lecture, une idée doit obligatoirement commencer par « Je suis pour ». Un utilisateur postant une nouvelle idée vote ainsi « pour » cette idée initialement. Il lui sera donné la possibilité par la suite de voter contre l’idée qu’il a soumise.
</li>
<li>
3. La multiplication de sujets relevant du même thème doit être évitée. Ainsi, merci de chercher sur le site si une idée exprimant la même chose n’a pas déjà été postée.
</li>
<li>
4 Le upping consistant à faire remonter un sujet de manière artificielle par un message n'apportant rien à la discussion est interdit.
</li>
<h3>Article 6 - Insertion d'images</h3>

L'insertion d'images dans les messages est tolérée, à la triple condition que : 
<ul>
<li> celles-ci soient strictement en rapport avec le thème du forum, </li>
<li> leur largeur ne dépasse 500 pixels, et</li>
<li> leur publication ne viole pas le Code de la propriété intellectuelle, le droit au respect de la vie privée ou tout autre texte.</li>
</ul>
<h2>Titre IV: Vie privée, messagerie et informations confidentielles</h2>

<h3>Article 8 - Informations privées et identité</h3>
<li>
1 Il est interdit de divulguer sans l'accord de l’intervenant concerné toute information relative à son identité, telle que son nom complet, son adresse personnelle, son adresse professionnelle ou tout autre élément de ce type permettant de l'identifier.Toute violation de cette disposition sera sanctionnée par le bannissement immédiat et sans préavis de l'auteur du message incriminé.
</li>
<li>
2 Toute information personnelle concernant un intervenant, et qui n'a pas été rendue publique par celui-ci, ne peut être divulguée sans son accord express à d'autres intervenants sur le site, par message privé ou par quelque moyen que ce soit, que l'information ait été obtenue avec ou sans le consentement de l'intervenant.
</li>

<h3>Article 9 - Messagerie privée</h3>
<li>
1 Les écarts de conduite dans l’usage de la messagerie privée peuvent être signalés à l'équipe de modération avec les messages privés correspondants. Les administrateurs peuvent supprimer la messagerie privée d'un intervenant qui en abuse. 
</li>
<li>
2 Les administrateurs se réservent également le droit de surveiller la messagerie privée à la demande de la modération afin de retracer l'historique d'un litige en cas de plainte d'un intervenant.
</li>
<li>
3 Dans les autres cas, un intervenant ne peut diffuser un message privé sans l'accord de son auteur.
</li>
<h2>Titre V: Comptes, identités sur le site et autres caractéristiques distinctives des intervenants</h2>
<h3>Article 10 - Les comptes</h3>
Un intervenant, en particulier un banni, ne peut avoir qu'un seul compte. L’usage du compte d’un tiers ou la possession de plusieurs comptes, notamment afin de contourner un bannissement, est interdit. Le partage d’un compte entre plusieurs intervenants est interdit. La violation de ce principe entraîne le bannissement ou une prolongation d’un bannissement en cours du ou des responsables.

<h3>Article 11 - Les pseudonymes</h3>
<li>
1 Il est interdit d'utiliser pour pseudonyme, d'une part un nom qui ne respecterait pas les législations et d'autre part un nom de criminel, un auteur de génocide ou d’un autre crime contre l’humanité, ou d’un terroriste.
</li>
<li>
1bis Il est également interdit d'utiliser pour pseudonyme le nom d'une personnalité vivante ou d’une entité ayant un nom déposé. Le nom peut être intégré au pseudonyme mais de façon à éviter tout risque de confusion entre l’intervenant et la personnalité ou toute autre association abusive entre l’intervenant et la personnalité. Pour les personnalités concernées, une vérification manuelle sera effectuée par l'équipe d'administration. Si vous êtes concernés par un cas d’homonymie, veuillez également soumettre une demande à l'équipe d'administration.
</li>
<li>
2 Il est interdit d'utiliser un pseudonyme non "retranscriptible" dans une conversation, soit une combinaison de signes, chiffres et lettres dépourvue de sens.
</li>
<h3>Article 12 - Avatars, signatures et profils</h3>
<li>
1 L'utilisation d'avatars distants et/ou de signatures peut être autorisée. Tout avatar ou signature peut être supprimée ou interdite d'affichage sans préavis, ni explication, par tout administrateur ou modérateur.
</li>
<li>
2 Aucune signature ne devra faire plus de deux lignes ou compter de ligne d'espace intermédiaire. La taille des avatars ne peut dépasser 160x160 pixels.
</li>
<li>
3 Les informations et liens à caractère publicitaire ou commercial ne peuvent figurer dans les avatars, signatures et profils. A l'exception d'un usage raisonnable de smilies de taille texte, les images sont prohibées dans la signature et le profil.
</li>
<li>
4 La faculté d'un intervenant d'afficher un avatar, une signature ou des informations dans son profil peut être retirée en cas d'abus grave ou d'abus répétés.
</li>
<h2>Titre VI: Dispositions diverses et finales</h2>

<h3>Article 13 - Sanctions</h3>

Les sanctions sont à la discrétion des administrateurs.
Les sanctions peuvent aller du simple avertissement au bannissement définitif du site.

<h3>Article 14 - Fin des rapports et droit de réponse</h3>
<li>
1 En tout temps, chaque intervenant peut, sans indication de motif, mettre fin aux rapports qui le lient au site. Le même droit appartient à l'administration vis-à-vis de chaque intervenant. Un bannissement définitif est assimilé à une fin des rapports. L'administration est libre de conserver ou effacer tout ou partie des contributions de cet intervenant sur le site. 
</li>
<li>
2 Lorsqu'il est mis fin aux rapports entre un intervenant et le site, l'intervenant concerné peut demander à l'administration qu'un droit de réponse lui soit accordé dans la mesure où il aurait été atteint dans sa personnalité par un ou plusieurs messages postés lors de son départ et restés sans réponse. La réponse doit respecter l’article 3 du règlement et porter exclusivement sur l'atteinte. 
</li>
<h3>Article 15 – Mentions légales</h3>
<li>
1. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 34 de la loi "Informatique et Libertés" du 6 janvier 1978). Vous pouvez, à tout moment, demander à ce que les informations vous concernant soient supprimées sur la page de <a href="{{ path('JaiUneIdeeSiteBundle_contact') }}">contact</a>.
</li>
<li>
2. Seul le droit français est applicable en cas de litige. Le site se réservant la faculté de saisir tout tribunal compétent.
</li>

<h3>Article 16 - Amendements</h3>

<p>Le présent règlement pourra être modifié de manière unilatérale par l'équipe de modération qui s'efforcera d'avertir les intervenants des modifications éventuellement apportées. </p>

<p>En m'inscrivant à ce site, j'approuve la Charte ci-dessus.</p>


<br /><br />
Sources : 
<br /><a target="_blank" href="http://www.forum-politique.org/">http://www.forum-politique.org/</a>
<br /><br />
En plus :
<br /><a target="_blank" href="http://forums.futura-sciences.com">http://forums.futura-sciences.com</a>
<br /><a target="_blank" href="http://www.jeuxvideo.com/forums_charte.htm">http://www.jeuxvideo.com/forums_charte.htm</a>
<br /><a target="_blank" href="http://www.foruminternet.org/telechargement/documents/charte-forums-20030708.htm">http://www.foruminternet.org/telechargement/documents/charte-forums-20030708.htm</a>
    </article>
</div>
{% endblock %}